PORT=3000
NODE_ENV=production
MONGODB_URI=mongodb+srv://user:user123@cluster0.zfpjwe3.mongodb.net/dfxstudio?retryWrites=true&w=majority
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_TO=dfxstudio@gmail.com
SITE_URL=https://dfxstudio.com